<h1>Editing file item</h1>

<%= render "form", file_item: @file_item %>

<br>

<div>
  <%= link_to "Show this file item", @file_item %> |
  <%= link_to "Back to file items", file_items_path %>
</div>
